h2 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

/* NAV BAR */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px rgb(236, 236, 236);
}

.main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

/*  */

.zorah {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
}

.carousel {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 200px;
    padding-top: 50px;
}

.footer {
    background-color: rgb(37, 37, 37);
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

#contact-form {
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 75px;
}

.text-center {
    padding-right: 75px;
    padding-top: 20px;
}

.list-unstyled {
    padding-right: 210px;
    padding-top: 75px;
}