h1 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

.navbar-light {
    background-color: skyblue;
    
}

.zorah {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
}

.footer {
    padding-top: 50px;
}