h1 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

.navbar-light {
    background-color: skyblue;
    
}

.stairs {
    width: 35%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    padding-top: 50px;
}